@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Rowdies&display=swap');

:root {
  --redberry-red: #fe3b1f;
  --primary-stroke: #525557;
  --primary-red: #eb3535;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: radial-gradient(50% 50% at 50% 50%, #0c0d0e 0%, #151718 73.44%);
}

h1 {
  font-family: 'Rowdies', cursive;
  color: #fe3b1f;
  font-size: 96px;
  font-weight: normal;
}

.btn {
  background-color: #fe3b1f;
  width: 395px;
  height: 79px;
  border: none;
  border-radius: 50px;
  font-size: 24px;
  font-family: Montserrat;
  color: white;
  cursor: pointer;
}
